* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: white;
  color: #1f2937;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 24px;
}

a {
  text-decoration: none;
}

.container {
  padding: 24px;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.nav-logo {
  font-size: 24px;
  color: #f9faf8;
  flex-grow: 1;
}

.bg-dark {
  background-color: #1f2937;
}

.body {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 300;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-bottom: 12px;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin: 12px 0 6px;
}

.hero {
  padding-block: 76px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap-reverse;
  align-items: stretch;
  justify-content: space-between;
}

.hero > * {
  flex-grow: 1;
  max-width: calc(50% - 12px);
  flex-basis: 400px;
}

.cta {
  padding: 8px 12px;
  width: 120px;
  text-align: center;
  background-color: #3882f6;
  color: white;
  display: inline-block;
  border-radius: 6px;
  margin-top: 18px;
}

.card-container {
  display: flex;
  gap: 24px;
  padding: 32px 0 48px;
  max-width: 800px;
  margin-inline: auto;
}

.card {
  max-width: 25%;
}

.card div {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 8px;
  border: 3px solid #3882f6;
  margin-bottom: 8px;
}

.card span {
  text-align: center;
  display: block;
}
